<div class="container container-fluid">
  <div class="row">

    <div class="col-xs-10 col-xs-offset-1">
      <div class="row">
        <div class="col-xs-4">
          <span> #208,1255 E University Dr</span><br/>
          <span> Tempe,AZ 85281</span>
        </div>

        <div class="col-xs-4" align="center">
          <h2>Nakul Chawla</h2>
        </div>

        <div class="col-xs-4" align="right">
          <span>(480)930-6967</span><br/>
          <span>nakulchawla09@gmail.com</span>
        </div>
      </div>

      <div style="font-weight:bold;font-size:large">
        <span> Employment</span>
      </div>
      <hr/>
      <div class="row">
        <div class="col-xs-4">
          <span><b>Developer BI & A</b></span>
        </div>
        <div class="col-xs-4" align="center">
          <span><b>Target Corporation India</b></span>
        </div>
        <div class="col-xs-4" align="right">
          <span><b>July 2013 - July 2016</b></span>
        </div>


      </div>

      <div class="row">

        <div class="col-xs-11 col-xs-offset-.5">
          <div class="col-xs-4">
            <span><b>Real Estate Database</b></span>
          </div>
        </div>
        <div class="col-xs-11 col-xs-offset-.5">
          <ul>
            <li>
              <span>Developed a full stack MVC web application using SQL Server, .Net, C# and angularJs.</span>
            </li>
            <li>
              <span>Data normalization to reduce redundancy and increasing access speed.</span>
            </li>
            <li>
              <span>Data warehousing and implementation in SQL Server.</span>
            </li>
            <li>
              <span>Rest APIs and responsive UI.</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-11 col-xs-offset-.5">
          <div class="col-xs-4">
            <span><b>Block Group Assignment</b></span>
          </div>
        </div>
        <div class="col-xs-11 col-xs-offset-.5">
          <ul>
            <li>
              <span>Analyzing guest shopping patterns at Target using distributed database systems.</span>
            </li>
            <li>
              <span>Managing large scale data in hadoop for persistency.</span>
            </li>
            <li>
              <span>Analysis in in-memory distributed cluster of spark-1.4.</span>
            </li>
          </ul>
        </div>
      </div>


      <div class="row">

        <div class="col-xs-11 col-xs-offset-.5">
          <div class="col-xs-4">
            <span><b>Vendor Income Analysis</b></span>
          </div>
        </div>
        <div class="col-xs-11 col-xs-offset-.5">
          <ul>
            <li>
              <span>Developed Vendor Income Portal to access all reports relating to CNA(CostandNegotiationAgreements).</span>
            </li>
            <li>
              <span>Cleansing of data to get correct and most updated data.</span>
            </li>
            <li>
                        <span>Created drill downs for all metrics down till the transaction level to analyze the profit-loss in Audits,
                            earnings through interest, etc</span>
            </li>
            <li>
                        <span>Created different views and dashboards for each metric by month.
                            Different views like markdowns, pro-motions, vendors, category, etc.
                        </span>
            </li>
          </ul>
        </div>
      </div>


      <div style="font-weight:bold;font-size:large">
        <span> Education</span>
      </div>
      <hr/>
      <div class="row">
        <div class="col-xs-4">
          <span><b>Tempe, AZ</b></span>
        </div>
        <div class="col-xs-4" align="center">
          <span><b>Arizona State University</b></span>
        </div>
        <div class="col-xs-4" align="right">
          <span><b>Fall 2016 - Expected Fall 2018</b></span>
        </div>
        <div class="col-xs-11 col-xs-offset-.5">
          <ul>
            <li>
              <span>Masters in Computer Science</span>
            </li>
            <li>
                    <span>Graduate Coursework: Statistical Machine Learning; Principles of Programming Languages;
                    Distributed Database Systems; Knowledge Representation & Representation; Advance Topics in Database Systems;</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <span><b>Bangalore,KA</b></span>
        </div>
        <div class="col-xs-4" align="center">
          <span><b>MS Ramaiah IT</b></span>
        </div>
        <div class="col-xs-4" align="right">
          <span><b>September 2009 - May 2013</b></span>
        </div>

        <div class="col-xs-11 col-xs-offset-.5">
          <ul>
            <li>
              <span>B.E. in Information Science, May 2013 GPA:3.53</span>
            </li>
            <li>
              <span>UG Coursework: Databases;DBMS;Business Intelligence; Data Structures and Algorithms; Object Oriented Programming;</span>
            </li>
          </ul>

        </div>
      </div>


      <div style="font-weight:bold;font-size:large">
        <span>Technical Experience</span>
      </div>
      <hr/>

      <div style="font-weight:bold;font-size:large">
        <span>Projects</span>
      </div>
      <div class="row">
        <div class="col-xs-11 col-xs-offset-.5">
          <ul>
            <li><b>KDD 2016 Paper Acceptance Rank Prediction (2016).</b>Predicting the ranking of an institution
              based on heterogenous data provided by Microsoft Academic Graph API.
              Used Brown’s Simple Exponential Smoothing,
              SVM Rank and Gradient Boosting Decision Trees to predict ranks and evaluating them using the
              Normalized Discounted Cumulative Gain. <b>Python,SQL,Google Big Query</b>
            </li>
            <li>
              <b>Principles of Programming Languages (2016).</b>Developed parser and compiler for a python like language
              in 5 stages entirely written in <b>C</b>.
            </li>
            <li>
              <b>Advance Topics in Database Systems (2017).</b>Implementing spatial indices for a geo-spatial in memory
              database. Critical analysis of
              research papers in in-memory database systems.<b>C++</b>
            </li>
            <li>
              <b>Distributed Database Systems (2017).</b>Setting up a 3 node hadoop cluster, and geo-spark for analyzing
              hot spots for cab drivers in a city.<b>Scala</b>
            </li>
          </ul>
        </div>
      </div>

      <div style="font-weight:bold;font-size:large">
        <span>Additional Experience and Awards</span>
      </div>
      <hr/>
      <div class="row">
        <div class="col-xs-11 col-xs-offset-.5">
          <ul>
            <li><b>Pyramid Award at Target:</b>for developing and automating Vendor Income Analysis faster than
              designated time period saving 100 hours of manual month effort.
            </li>
            <li><b>Partner’s Award:</b>at Target for Vendor Income Analysis.</li>
            <li>
              <b>Research/Travel grant reviewer-GPSA:</b>Reviewing and approving grant applications from candi-
              dates in research.
            </li>
          </ul>
        </div>
      </div>

      <div style="font-weight:bold;font-size:large">
        <span>Languages and Technologies</span>
      </div>
      <hr/>
      <div class="row">
        <div class="col-xs-11 col-xs-offset-.5">
          <ul>
            <li>C; C#.NET; SQL; JavaScript; AngularJs; JQuery; Python; R; HTML5; CSS3; d3.js; postgresql;</li>
            <li>Vim; Visual Studio; Microsoft SQL Server; Teradata;WebStorm; PyCharm; IIS; Linux Power User;</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
